body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Helvetica", "Yu Gothic";
    color: #333;
}

section {
    padding: 80px 0;
}

main section:nth-of-type(1) {
    padding: 25px 0;
}
main section:nth-of-type(2) {
    padding: 25px 0;
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    color: #9665f1;
    margin-bottom: 20px;
    text-align: center;
}

/* header */
header {
    background-color: #9665f1;
    text-align: center;
    padding: 20px 0;
}
.site-title{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

/* kv */
.main-visual {
    padding: 30px 0;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.kv-copy {
    font-size: 50px;
    font-weight: bold;
    color: #9665f1;
}


/* 結果 */
.result-text {
    font-size: 45px;
    text-align: center;
    margin: 0px auto 20px;
}


.send {
    margin: 30px auto;
    text-align: center;
}

.text_form {
    border: 2px solid #9665f1;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    text-align: left;
}


.back-top {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #000066;
    color: #000066;
    margin: 20px auto;
    text-align: center;
}


/* footer */

footer {
    background-color: #9665f1;
    text-align: center;
    line-height: 100px;
    color: #fff;
    padding: 5px 0;
}

.Hait_Lab_URL {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #000066;
}



@media screen and (max-width: 768px) {
/* header */
    .site-title {
        font-size: 30px;
    }

    /* kv */
    .kv-copy {
        font-size: 24px;
    }
}